<header class="header">
    <nav class="header__menu">
        <ul>
            <li><%= link_to t("home"), root_path %></li>
            <li></li>
            <li></li>
        </ul>
    </nav>
    <div class="header__connection">
        <% if !current_user.nil? %>
            <span><%= t("hello") %> <%= current_user.email %></span>
            <%= link_to t("sign_out"), destroy_user_session_path, :method => 'delete' %>
        <% else %>
            <%= link_to t("sign_up"), new_user_registration_path %>
            <%= link_to t("sign_in"), new_user_session_path %>
        <% end %>
    </div>
</header>